:root {
  --bg-color: #FFFFFF; 
  --color: #000000;
  --primary: #0B3FDA; 
  --secondary: #DEB841;
}

header {
    background-color: var(--bg-color);
    color: var(--color);
}

.menu {
    display: flex;
    width: 80vw;
    justify-content: space-between;
}

body {
    background-color: var(--bg-color);
    color: var(--color);
    padding-left: 10%;
  padding-right: 10%;
  display: flex;
  flex-direction: column;
}

a {
    color: var(--primary);
}

.about_me {
  display: flex;
}

.research {
  display: flex;
}

.talks {
  display: flex;
}

.lisa_pic {
  height: 15em;
  aspect-ratio: 0.75;
}

.scanning_pic {
  height: 15em;
  aspect-ratio: 0.75;
}